*,
*::before,
*::after {
    box-sizing: border-box;
}
/*custom properties*/
:root{
    --ff-primary: "public-pixel", monospace;
    --ff-secondary: 'Inconsolata', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: white;
    --clr-dark: black;
    --clr-accent: brown;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 0.125em 0.125em 0.25em rgba(0,0,0,.15);
}
@media (min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 2.5rem;
        --fs-body: 1.125rem;
    }
}

/*General styles*/
html{
    scroll-behavior: smooth;
}
body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{
    height: 100vh;
}

img{
    display: block; /* avoids common issues */
    max-width: 100%; /* so images don't grow too big */
    min-width: 100%;
    border: 0;

}
strong{
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
}
 
:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}
/* Buttons */

.btn{
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
}

/* Typography */

h2{
    display: inline-block;
    text-align: center;
    font-family: var(--ff-primary);
    padding: 16px;
    padding-top: 4px;
    padding-bottom: 8px;
    margin: auto;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}
h1{ font-size: var(--fs-h1) }
h2{ font-size: var(--fs-h2) }
h3{ font-size: var(--fs-h3) }

.name{
    font-size: 70px;
}

.intro__subtitle{
    margin: 0;
    font-size: var(--fs-h2);
    color: purple;
}

.section__subtitle--intro{
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}
.section__subtitle--about{
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}
.section__subtitle--work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */

.nav{
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}
.nav__list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0;
    padding: 1em;
}
.nav__link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}
.nav__link:hover{
    color: var(--clr-accent);
}
.nav-toggle {
    position: absolute;
    cursor: pointer;
    z-index: 1000;
    padding: .5em;
    background: transparent;
    border: 0;
    right: 1em;
    top: 1em;
}

.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background: var(--clr-dark);
    margin: 6px 0;
    transition: transform 250ms;
}
 
.change .nav{
    transform: translateX(75%);
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    background: #39FF14;
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    background: #39FF14;
}
.change .nav-toggle{
    position: fixed;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--clr-light);
}

/* Inro section */
.intro{
    position: relative;
    /*background: var(--clr-light);*/
}


@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
}
 

.about-me{
    margin: 0 auto;
    height: 100vh;
    background: var(--clr-light);
    
}
.about-me__body{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.container::before{
    content: '';
    background: url(assets/img/pexels-sharefaith-1231265.gif) ;
    position: absolute;
    opacity: 0.3;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


/* My Work */
.my-work{
    background: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
    padding: 10rem 2rem;
    
}
.portfolio{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;   
}

.portfolio__item{
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}
.portfolio__img{
    
}


.heading{
    padding: 1.5rem;
}

a{
    text-decoration: none;
}

/* footer */
.footer{
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}
.footer a {
    color: inherit;
    text-decoration: none;
}
.footer__link{
    font-weight: var(--fw-bold);
}
.footer__link:hover,
.social-list__link:hover{
opacity: .7;
}
.footer__link:hover{
    text-decoration: underline;
}
.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item{
    margin: 0 .5em;
}
.social-list__link{
    padding: 0.5em; 
}

/* Individual Portfolio item styles */
.portfolio-item-individual{
    padding: 0 2em 2em;
    height: 400px;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p{ 
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.portfolioitem__img{
    max-width: 500px;
}

.wrapper{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 8%;
}

.profile-img{
    width: 30%;
    margin-top: 20px;
    max-width: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.profile-text{
    padding-left: 5%;
    width: 70%;
}

.container-icons{
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.certifications{
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cert-icon{
    width: 12.5%;
    height: 142px;
    margin-bottom: 10px;
    margin-right: 80px; 
}
.skill-icon{
    width: 12.5%;
    height: 142px;
    margin-bottom: 10px;
}

.service__body{
    width: 100%;
}

.service1{
    border-radius: 25px;
    border: 2px solid #73AD21; 
    width: 100%;
    height: 350px;
    padding: .25em 1em;
    margin: 0 auto;
}
.service-img{
    width: 30%;
    margin-top: 20px;
    max-width: 300px;
    overflow: hidden;
    margin: 0 auto;
}
.service-text{
    padding-left: 5%;
    width: 70%;
}

.container .services .card{
    width: 330px;
    text-align: center;
    background: #222;
    padding: 20px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.container .services .card:hover{
    background: chocolate;
}

.container .services .card .content{
    transition: 0.3s;
}

.container .services .card:hover .content{
    transform: scale(1.07);
}

.container .services .card .content .icon{
    padding: 5px 0;
    color: white;
}

.container .services .card .content .icon i{
    font-size: 40px;
}

.container .services .card:hover .content .title{
    color: white;
}

.container .services .card .content .title{
    padding: 5px 0;
    font-size: 24px;
    font-weight: 500;
    color: chocolate;
    transition: 0.3s;
}
